@model List<Hotel.Domain.Entities.Rezerwacja> 


<!DOCTYPE html>
<html>
<head>
    <title>Lista Rezerwacji</title>
    <!-- Dodaj link do Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h1>Pulpit rezerwacji</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Numer rezerwacji</th>
                    <th scope="col">Data od</th>
                    <th scope="col">Data do</th>
                    <th scope="col">Typ pokoju</th>
                    <th scope="col">Numer pokoju</th>
                    <th scope="col">Imię i nazwisko gościa</th>
                    <th scope="col">Status rezerwacji</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rezerwacja in Model)
                {
                    <tr>
                        <td>@rezerwacja.Id</td>
                        <td>@rezerwacja.DataOd.ToShortDateString()</td>
                        <td>@rezerwacja.DataDo.ToShortDateString()</td>
                        <td>@rezerwacja.Pokoj.TypPokoju</td>
                        <td>@rezerwacja.Pokoj.Numer</td>
                        <td>@rezerwacja.Osoba.Imie @rezerwacja.Osoba.Nazwisko</td>
                        <td>@rezerwacja.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Dodaj link do Bootstrap JS (opcjonalne, jeśli chcesz używać interakcji JavaScript dostarczanych przez Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>