@model Hotel.Domain.Entities.Rezerwacja


<!DOCTYPE html>
<html>
<head>

	<title>Informacje o Rezerwacji</title>

</head>
<body>
	<h1>Podaj dane rezerwacji do sprawdzenia:</h1>

	<form method="post">
		<label>Podaj numer rezerwacji:</label>
		<input type="number" name="NumerRezerwacji" />
		<p> </p>

		<label>Podaj adres email użyty przy rezerwacji:</label>
		<input type="text" name="AdresEmail" />
		<p> </p>

		<button type="submit">Pokaż informacje</button>
	</form>

	@if (Model != null)
	{

		<div style="border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
			<p>Numer rezerwacji: @Model.Id</p>
			<p>Data rezerwacji od: @Model.DataOd</p>
			<p>Data rezerwacji do: @Model.DataDo</p>
			<p>Ilość Osób: @Model.IloscOsob</p>
			<p>Czy zameldowano:  @(Model.CzyZameldowano ? "Tak" : "Nie") </p>
			<p>Cena całkowita: @Model.CenaCalkowita</p>
			<p>Imię i nazwisko gościa: @Model.Osoba.Imie @Model.Osoba.Nazwisko </p>
		</div>
		<p> </p>

		<div>
			<a type="button" class="btn btn-sm btn-outline-secondary" asp-action="AnulujRezerwacje" asp-route-id="@Model.Id">Anuluj rezerwację</a>

		</div>


	}
</body>
</html>
