@model Hotel.Domain.Entities.Models.CheckAvailabilityModel

@{
    ViewData["Title"] = "WynikiWyszukiwania";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        <div>@Html.Raw(TempData["Message"].ToString())</div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container-md">

    <h1>Sprawdź dostępność</h1>

    <div class="jumbotron text-center" style="padding-left:15%; padding-right: 15%; padding-top: 20px;">

        <form asp-action="CheckRoomsAvailability" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Data początkowa</label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Data końcowa</label>
                <input asp-for="DateTo" class="form-control " />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label class="control-label">Ilość osób</label>
                <input asp-for="NumberOfGuests" class="form-control" />
                <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
            </div>

            <p></p>
            <div class="form-group">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <form>
            <input type="hidden" asp-for="DateFrom" />
            <input type="hidden" asp-for="DateTo" />
            <input type="hidden" asp-for="NumberOfGuests" />
            <div class="row">
                @if (Model != null)
                {

                    @if (Model.DictionayRooms.Count == 0)
                    {
                        <div class="col-md-4">
                            Brak dostepnych pokoi
                        </div>
                    }
                    @foreach (var room in Model.DictionayRooms)
                    {

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => room.Key.Type.NameRoomType) </h5>
                                    @if (room.Value == 1)
                                    {
                                        <h6 class="small">Dostępny ostatni pokój!</h6>
                                    }
                                    else if (room.Value <= 3)
                                    {
                                        <h6 class="small">Pozostały @room.Value ostatnie pokoje!</h6>
                                    }
                                    <h4 class="card-subtitle"> @Html.DisplayFor(modelItem => room.Key.Type.Price) zł/noc</h4>
                                    <p class="card-text">Max. ilość osób: @Html.DisplayFor(modelItem => room.Key.Capacity)</p>

                                    <div class="d-flex justify-content-between align-items-center">

                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="RoomDetails" asp-route-id="@room.Key.Id">Szczegóły</a>
                                        <input type="submit" value="Zarezerwuj" asp-action="CreateReservation" asp-controller="Reservation" class="btn btn-primary" asp-route-id="@room.Key.Id" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </form>

    </div>
</div>

<script>
    $(function () {
           $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

