@model Hotel.Domain.Entities.Reservation

@{
    ViewData["Title"] = "UtworzRezerwacje";
}

<div class="container">

    <h4>Rezerwacja: </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateReservation">
                <div class="form-group">
                    <label class="control-label">Imię:</label>
                    <input asp-for="Client.Name" class="form-control" />
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label class="control-label">Nazwisko:</label>
                    <input asp-for="Client.Surname" class="form-control" />
                    <span asp-validation-for="Client.Surname" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label class="control-label">Telefon: </label>
                    <input asp-for="Client.PhoneNumber" type="tel" placeholder="+11-111-111-111" class="form-control" />
                    <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label class="control-label">E-mail:</label>
                    <input asp-for="Client.EmailAddress" placeholder="example@email.com" class="form-control" />
                    <span asp-validation-for="Client.EmailAddress" class="text-danger"></span>
                </div>
                <p></p>
                <hr />

               <div class="form-group">
                    <label class="control-label">Rozpoczęcie pobytu:</label>
                    <h3>@Model.DateFrom.ToShortDateString()</h3>
                    <input type="hidden" asp-for="DateFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <label class="control-label">Zakończenie pobytu:</label>
                    <h3>@Model.DateTo.ToShortDateString()</h3>
                    <input type="hidden" asp-for="DateTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </div>

                <hr />

                <div class="form-group">
                    <h3>Suma: @Model.PriceTotal.ToString("C")</h3>
                    <input type="hidden" asp-for="PriceTotal" class="form-control" />
                    <span asp-validation-for="PriceTotal" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="@Model.RoomId" value="@Model.RoomId" />
                <input type="hidden" asp-for="@Model.NumberOfGuests" value="@Model.NumberOfGuests" />
                <input type="hidden" asp-for="@Model.Room" value="@Model.Room" />

                <div class="form-group">
                    <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}